
  
 
  a {
    text-decoration: none;
  }
  .list li {
    padding-top: 15px;
    align-items: start;
  }
  
  .title-report h2 {
    margin: 1px;
  padding-left:29px;
  
   
  }
  .addButton {
    position: relative;
  }
  .addbtn {
    position: absolute !important;
  
    right: 2.5rem !important;
    top: 2.8rem !important;
    margin: 0 !important;
  }