.card-body{
    padding-top: 8px !important;
    
    
}
.text-head{
    font-size: 18px;
    font-weight: 400;
}
.text{
    font-size: 15px;
    
}
@media (max-width:575px){
    .text-head{
        font-size: 12px;
    }
    .text{
        font-size: 10px;
    }
}